Django==5.1.4
psycopg2-binary==2.9.10
django-environ==0.11.2
Pillow==11.1.0
whitenoise==6.8.2
vobject==0.9.7
google-generativeai==0.8.3
django-crispy-forms==2.3
crispy-bootstrap5==2024.10
gunicorn==23.0.0
